@using MTS.Web.Models.Curriculum.Material
@model MaterialDto
@{
    ViewData["Title"] = Model.Title;
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">@Model.Title</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row mb-3">
            <div class="col-md-6">
                <h5>Material Type: @Model.MaterialType</h5>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h5>Material Content</h5>
            </div>
            <div class="card-body">
                @if (Model.MaterialType == "Link")
                {
                    <p>External Link: <a href="@Model.Description" target="_blank">@Model.Description</a></p>
                }
                else
                {
                    <p>@Model.Description</p>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <a asp-controller="Course" asp-action="Details" asp-route-courseCode="@Model.CourseCode"
                   class="btn btn-outline-primary form-control">Back to Course</a>
            </div>
            @if (User.IsInRole("PROFESSOR"))
            {
                <div class="col-6">
                    <a asp-action="Edit" asp-route-materialCode="@Model.MaterialCode"
                       class="btn btn-primary form-control">Edit Material</a>
                </div>
            }
        </div>
    </div>
</div>